# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "222c44ca65f68829aed78fba8c5b1580"
name = "Stackly Subscriptions"

# Placeholder only — CLI overrides this automatically during `shopify app dev`
application_url = "https://example.com"

embedded = true

[build]
# THIS is what matters
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/orders/create"

[access_scopes]
scopes = "write_products,write_purchase_options,write_orders,read_orders,write_customers,read_customers"

[auth]
# Placeholder — CLI overrides this too
redirect_urls = [ "https://example.com/api/auth" ]
